<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles/index.css">
  <link rel="stylesheet" href="assets/styles/blog.css">
</head>
<body>

<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="https://dumbways.id/assets/images/brandwhite.png" alt="Your Company" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
        <li class="nav-item"><a href="project" class="nav-link text-white">Add Project</a></li>
        <li class="nav-item"><a href="contact" class="nav-link text-white">Contact Form</a></li>
        <li class="nav-item"><a href="testimonials" class="nav-link text-white">Testimonials</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->

<div class="container mt-5 pt-5 shadow-lg">
  <div class="row">
    <div class="col-lg-8 mt-5 pt-5">
      <h1>Welcome to my personal website!</h1>
      <br>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique purus orci libero egestas ut. Augue suspendisse blandit lorem massa ipsum, urna, egestas mi, lacinia. Dui fusce etiam
        libero, lectus amet, risus molestie malesuada. Odio nam purus consectetur euismod congue leo quisque. Turpis amet sollicitudin nunc non in lectus dolor amet.
      </p>
      
      <div class="d-flex">
        <a href="contact" class="btn btn-primary mr-3">Contact</a>
        <a class="btn btn-secondary">Download CV</a>
      </div>
  
      <!-- social button start -->
      <div class="mt-3">
        <a href="#" class="btn btn-outline-primary mr-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-outline-info mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-outline-primary mr-2"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="btn btn-outline-danger"><i class="fab fa-pinterest-p"></i></a>
      </div>
      <!-- social button end -->
    </div>
    
    <div class="col-lg-4 text-center pb-3">
      <div class="card pb-0">
        <img src="assets/img/profile.jpg" class="card-img-top img-fluid" alt="Muhammad Taufal" style="max-width: 100%">
        <div class="card-body">
          <h2 class="card-title">Muhammad Taufal</h2>
          <p class="card-text">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="text-align:center; margin-top: 50px;">
  <h2 class="text-center">My Project</h2>  
  <div class="project-cards"></div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html