<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles/index.css">
  <link rel="stylesheet" href="assets/styles/testimonials.css">
  <title>Testimonials</title>
</head>
<body>
  <!-- navbar start -->
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link text-white custom-hover">Home</a></li>
        <li class="nav-item"><a href="contact" class="nav-link text-white custom-hover">Contact Form</a></li>
        <li class="nav-item"><a href="testimonials" class="nav-link text-white custom-hover">Testimonials</a></li>
        <li class="nav-item"><a href="/add-post" class="nav-link text-white custom-hover">Add Post</a></li>
      </ul>
    <form action="/logout" method="GET">
        <button class="btn-light" type="submit">Logout</button>
    </form>    
    </div>
  </div>
</nav>
<!-- navbar end -->

  <!-- Filter Bintang -->
   <header class="mt-5 pt-5 text-center">
    <h1>My Testimonials</h1>
   </header>
   <div class="filter-container">
    <p>Rating By Star</p>
    <div class="stars-filter" id="stars-filter">
      <span class="all-rating" id="all-rating">All</span>
    <!-- Ikon bintang untuk memfilter akan ditambahkan di sini oleh JavaScript -->
    </div>
   </div>


  <div class="testimonials-container">
    <!-- Testimonial elements will be added here by JavaScript -->
  </div>

  
  <!-- Include the JavaScript file -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/testimonials.js"></script>
</body>
</html>
